<div class="col-md-2 bg-dark text-white min-vh-100 p-3">

    <h4 class="mb-4">
        Jewelry
    </h4>

    <div class="list-group">

        <a href="#" class="list-group-item list-group-item-action">
            داشبورد
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            محصولات
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            دسته‌بندی‌ها
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            قیمت روز
        </a>

    </div>

</div>