{% load static %}

<div class="col-md-2 sidebar">

<div class="sidebar-logo">

    <img src="{% static 'images/logo.png' %}" alt="Logo">

</div>

    <nav class="sidebar-menu">

        <a href="{% url 'dashboard:home' %}">
            داشبورد
        </a>

        <a href="{% url 'products:list' %}">
            محصولات
        </a>

        <a href="{% url 'categories:list' %}">
            دسته‌بندی‌ها
        </a>

        <a href="{% url 'pricing:list' %}" class="list-group-item list-group-item-action">
            قیمت روز
        </a>

    </nav>

</div>