{% extends 'base.html' %}

{% block title %}
داشبورد
{% endblock %}

{% block content %}

<h2 class="mb-4">
    داشبورد مدیریت
</h2>

<div class="row g-4">

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>تعداد محصولات</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>دسته‌بندی‌ها</h6>

                <h2>0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm">

            <div class="card-body">

                <h6>قیمت روز</h6>

                <h2>---</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}